# Database configuration
DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/DB_NAME?sslmode=disable"

# Email configuration
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"

# JWT Secret
JWT_SECRET="some-very-secret-key"

# --- Cloudinary ---
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=